@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 53% 20%;
    --foreground: 210 40% 98%;
    --card: 215 53% 24%;
    --card-foreground: 210 40% 98%;
    --popover: 215 53% 24%;
    --popover-foreground: 210 40% 98%;
    --primary: 196 35% 84%;
    --primary-foreground: 215 53% 20%;
    --secondary: 215 53% 27%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 53% 27%;
    --muted-foreground: 215 20% 65%;
    --accent: 215 53% 27%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62% 65%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 53% 27%;
    --input: 215 53% 27%;
    --ring: 196 35% 84%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
